* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(assets/background.png);
  height: 100vh
}

@font-face {
    font-family: 'loveloblack';
    src: url('fonts/lovelo_black-webfont.woff2') format('woff2'),
         url('fonts/lovelo_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
  color: #C29483;
  text-align: center;
  font-family: 'Amsterdam';
}

h2 {
    font-family: 'loveloblack';
    color:#8D5A46;
}

p {
  font-family: verdana;
  font-size: 20px;
}

h6 {
font-family: verdana;
  font-size: 13px;
    color:#8D5A46;
}

.navbar {
    margin-bottom: 60px;
}
.bg-color {
  padding: 10px 45px;
    margin-right: 30%;
    transform: skew(-21deg);
    display: block;
    background-color: #60CFC5;
    right: 25px;
}

.nav-item {
    transform: skew(20deg);
    font-family: 'loveloblack';
}

.card-body {
    padding: 60px;
}

.card {
    margin-right: 100px;
    margin-bottom: 100px;
}

form form-inline my-2 my-lg-0 {
    transform: skew(21deg);
}

.grid-container {
  display: grid;
  height: 400px;
  margin: 50px;
  grid-template-columns: 50% 50%;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 60% 36.5%;
    margin: 50px 100px 5px;
    grid-template-rows: 10%;
    grid-gap: 20px;
    
}

.btn-primary {
    font-family: 'loveloblack';
    height: 100px;
    text-align: center;
    
}